body{
    margin: 0;
    padding: 0;
    background: url(Login-background-1080x608.jpg) no-repeat;
    background-size: cover;
}

.login-box{
    /* width sets lenth of login box*/
    width: 280px;
    position: absolute;
    /* top pushes login-box down by 50% */
    top: 30%;
    /* left pushes login-box right by 50% */
    left: 43%;
    transform: translate(-50% -50%);
    color: #fff;
}

/* Edits attributes of h1 */
.login-box h1{
    float: left;
    font-size: 30px;
    /* border bottom sets line thickness and color below login to grees*/
    border-bottom: 4px solid #4caf50;
    padding: 13px 0;
}

/* sets textbox for icons */
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 15px;

    /* padding creates space from top, sides, and bottom*/
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 3px solid #4caf50;

}

/**/
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

/* setting textbox area username and password */
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 14px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

/* button*/
.btn{
    width: 40%;
    background: transparent;
    border: 2px solid #4caf50;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    font-size: 2em;

}

li a:hover{
    color: #4caf50;
}